.wrapper {
    max-width: 957px;
    border: 1px black solid;
    margin: 0 auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar-wrapper {
    max-width: 957px;
    border: 1px black solid;
    margin: 0 auto;
}

.navbar {
    height: 48px;
}

.div-back-nav {
    background: #323941;
}

.nav-link {
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF !important;
}

.d-flex {
padding-left: 70px;
}